html {
	position: relative;
	min-height: 100%; 
}
body {
	margin-bottom: 109px;
}
footer {
  text-align: center !important;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.cardbody {
  color:rgb(168, 168, 168) !important;
}

.zach {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.5rem;
}

.bio {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  border-radius: 10px;
  padding: 5px;
}
